.subteam {
    display: flex;
    flex-direction: row;
    margin-top: 20px;
    margin-bottom: 20px;
}

.subteam img {
    max-width: 45vw;
    margin: 2rem var(--header-spacing);
}

.subteam div {
    margin: auto var(--header-spacing);
}

.right {
    background-color: var(--secondary);
}

.subteam-members {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.subteam-members div {
    display: flex;
    margin: 1rem;
    padding: 0;
    list-style-type: none;
}

.person-card {
    flex-direction: column;
    width: max(15vw, 12rem);
    margin: 1rem;
    padding: .75rem;
    background-color: var(--secondary);
    font-size: inherit;
    border-radius: 5px;
}

.person-card img {
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    width: 100%;
    overflow: clip;
    margin: 0;
    padding: 0;
    margin-bottom: .25rem;
}

.person-card h3,
h4,
h5 {
    margin: .5rem;
    margin-bottom: 0;
    margin-top: 0;
    text-align: left;
}

.person-card div {
    flex-direction: row-reverse;
    margin: 0;
    text-align: right;
}

.person-card div a {
    padding-right: calc(.25rem + 5px);
    padding-bottom: .25rem;
}


@media (max-width: 1000px) {
    .subteam {
        flex-direction: column;
    }

    .subteam img {
        max-width: 100vw;
    }

    .left {
        flex-direction: column-reverse;
    }
}